@charset "utf-8";
.dount-chart{
    overflow:hidden;
}
.dount-chart .chart-title {
    text-align: center;
    color: #999;
    font-size: 18px;
    margin: 20px 0;
}

.dount-chart .chart-container {
    position: relative;
    margin: 0 auto;
    width: 200px;
    height: 200px;
}

.dount-chart .chart-box {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    z-index: 120;
    overflow: hidden;
}

.dount-chart .chart-loading {
    background: url(../img/blank.gif) no-repeat center center transparent;
    position: absolute;
    left: 0;
    top: 0;
    right:0;
    bottom:0;
    z-index: 110;
    border-radius: 100px;
}

.chart-item {
    position: relative;
    top: 0;
    z-index: 100;
}

.chart-inner-ring {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left:-50px;
    margin-top:-50px;
    z-index: 999;
    text-align:center;
    line-height:100px;
}

.dount-chart .hold {
    position: absolute;
    left: 0;
    width: 200px;
    height: 200px;
    clip: rect(0px, 200px, 200px, 100px);
}

.dount-chart .pie {
    position: absolute;
    width: 200px;
    height: 200px;
    clip: rect(0px, 100px, 200px, 0px);
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
}

.dount-chart .hold.more-half {
    clip: rect(auto, auto, auto, auto);
}

.dount-chart .pie.fill {
    -moz-transform: rotate(180deg) !important;
    -webkit-transform: rotate(180deg) !important;
    -o-transform: rotate(180deg) !important;
    transform: rotate(180deg) !important;
}

.chart-item-0 {
    background-color: #28c8a0 !important;
    border-color: #28c8a0;
}

.chart-item-1 {
    background-color: #059eec !important;
    border-color: #059eec;
}

.chart-item-2 {
    background-color: #feba59 !important;
    border-color: #feba59;
}

.chart-item-3 {
    background-color: #c9c9c9 !important;
    border-color: #c9c9c9;
}

.chart-item-4 {
    background-color: #e6443c !important;
    border-color: #e6443c;
}

.chart-item-5 {
    background-color: #826597 !important;
    border-color: #826597;
}

.active-item-0 {
    color: #28c8a0 !important
}

.active-item-1 {
    color: #059eec !important
}

.active-item-2 {
    color: #feba59 !important
}

.active-item-3 {
    color: #c9c9c9 !important
}

.active-item-4 {
    color: #e6443c !important
}

.active-item-5 {
    color: #826597 !important
}


.dount-chart .info {
    margin-top: 40px;
    text-align: center;
}

.dount-chart .info p {
    font-size: 17px;
    margin-top: 10px;
}
